name: Create Markdowns

on:
  workflow_dispatch:  # Activate this workflow manually
  pull_request:
    paths:
      - 'tutorials/*.*'


jobs:

  docs-check:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip' # caching pip dependencies

      - name: Install Dependencies and Generate Markdown
        run: |
          pip install -r requirements.txt
          python scripts/generate_markdowns.py --index index.toml --output markdowns

      - name: Status
        run: |
          if [[ `git status --porcelain` ]]; then
            git status
            echo "##################################################################################################"
            echo "#"
            echo "# CHECK FAILED! You need to update the static version of the tutorials."
            echo "#"
            echo "# Please run the tutorials markdown update script:"
            echo "#"
            echo "#    python scripts/generate_markdowns.py --index index.toml --output markdowns --notebooks ..."
            echo "#"
            echo "# or see https://github.com/deepset-ai/haystack-tutorials/blob/main/CONTRIBUTING.md for help."
            echo "#"
            echo "# If you have further problems, please open an issue: https://github.com/deepset-ai/haystack-tutorials/issues"
            echo "#"
            echo "##################################################################################################"
            exit 1
          fi