name: Run Tutorials Nightly

on:
  workflow_dispatch:  # Activate this workflow manually
  schedule:
    - cron: '0 0 * * *'

jobs:
  run-tutorials:
    runs-on: ubuntu-latest
    container: deepset/haystack:base-massi-docker

    services:
      elasticsearch:
        image: elasticsearch:7.9.2
        env:
          discovery.type: "single-node"
          ES_JAVA_OPTS: "-Xms128m -Xmx256m"

    strategy:
      max-parallel: 2
      matrix:
        notebook:
          # Note: use the name of the file without the extension
          - 01_Basic_QA_Pipeline
          - 03_Basic_QA_Pipeline_without_Elasticsearch
          - 04_FAQ_style_QA
          - 05_Evaluation
          - 06_Better_Retrieval_via_Embedding_Retrieval
          - 07_RAG_Generator
          - 10_Knowledge_Graph
          - 11_Pipelines
          - 12_LFQA

    env:
      ELASTICSEARCH_HOST: "elasticsearch"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install jupyter
        # remove pip install pyzmq when this is resolved https://github.com/zeromq/pyzmq/issues/1764
        run: |
          pip install pyzmq==23.2.1
          pip install nbconvert

      - name: Convert notebook to Python
        run: |
          jupyter nbconvert --to python --RegexRemovePreprocessor.patterns '%%bash' ./tutorials/${{ matrix.notebook }}.ipynb

      - name: Run the converted notebook
        run: |
          python ./tutorials/${{ matrix.notebook }}.py
