name: Run Tutorials Nightly

on:
  workflow_dispatch: # Activate this workflow manually
  schedule:
    - cron: "0 0 * * *"

jobs:
  run-tutorials:
    runs-on: ubuntu-latest
    container: deepset/haystack:base-cpu-main

    services:
      elasticsearch:
        image: elasticsearch:7.9.2
        env:
          discovery.type: "single-node"
          ES_JAVA_OPTS: "-Xms128m -Xmx256m"

    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        notebook:
          # Note: use the name of the file without the extension
          - 01_Basic_QA_Pipeline
          - 03_Scalable_QA_System
          - 04_FAQ_style_QA
          - 05_Evaluation
          - 06_Better_Retrieval_via_Embedding_Retrieval
          - 07_RAG_Generator
          - 08_Preprocessing
          - 11_Pipelines
          - 12_LFQA
          - 14_Query_Classifier
          - 15_TableQA
          - 16_Document_Classifier_at_Index_Time
          - 17_Audio
          - 19_Text_to_Image_search_pipeline_with_MultiModal_Retriever
          - 21_Customizing_PromptNode
          - 22_Pipeline_with_PromptNode

    env:
      HAYSTACK_TELEMETRY_ENABLED: "False"
      ELASTICSEARCH_HOST: "elasticsearch"

    steps:
      - name: Fake fail step
        run: exit 1

      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        # remove pip install pyzmq when this is resolved https://github.com/zeromq/pyzmq/issues/1764
        run: |
          apt-get update && apt-get install -y build-essential gcc libsndfile1 ffmpeg && rm -rf /var/lib/apt/lists/*
          pip install pyzmq==23.2.1
          pip install nbconvert ipython
          pip install "pyworld<=0.2.12" espnet espnet-model-zoo pydub

      - name: Install Haystack Extras text2speech dependencies
        run: |
          pip install farm-haystack-text2speech

      - name: Install Hugging Face datasets
        run: |
          pip install datasets>=2.6.1

      - name: Convert notebook to Python
        run: |
          jupyter nbconvert --to python --RegexRemovePreprocessor.patterns '%%bash' ./tutorials/${{ matrix.notebook }}.ipynb

      - name: Run the converted notebook
        run: |
          python ./tutorials/${{ matrix.notebook }}.py

      - name: Send Failure to Datadog
        if: failure()
        uses: masci/datadog@v1
        with:
          api-key: ${{ secrets.CORE_DATADOG_API_KEY }}
          api-url: https://api.datadoghq.eu
          events: |
            - title: "Tutorial ${{ matrix.notebook }} failed"
              text: "Branch ${{ github.ref_name }} tests failed"
              alert_type: "error"
              source_type_name: "Github"
              host: ${{ github.repository_owner }}
              tags:
                - "project:${{ github.repository }}"
                - "name:${{ matrix.notebook }}"
                - "url:https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
