name: Run Tutorials

on:
  workflow_dispatch:  # Activate this workflow manually
  pull_request:
    paths:
      - 'tutorials/*.ipynb'

jobs:
  run-tutorials:
    runs-on: ubuntu-latest
    container: deepset/haystack:base-massi-docker

    services:
      elasticsearch:
        image: elasticsearch:7.9.2
        env:
          discovery.type: "single-node"
          ES_JAVA_OPTS: "-Xms128m -Xmx256m"

    env:
      ELASTICSEARCH_HOST: "elasticsearch"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        # remove pip install pyzmq when this is resolved https://github.com/zeromq/pyzmq/issues/1764
        run: |
          apt-get update && apt-get install -y libgraphviz-dev && rm -rf /var/lib/apt/lists/*
          pip install pyzmq==23.2.1
          pip install nbconvert
          pip install pygraphviz

      - name: Files changed
        uses: jitterbit/get-changed-files@v1
        id: files
        with:
          format: space-delimited
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert notebooks to Python
        shell: bash
        run: |
          for changed_file in ${{ steps.files.outputs.all }}; do
            if [[ $changed_file == *".ipynb" ]]; then
              echo $changed_file
              jupyter nbconvert --to python --RegexRemovePreprocessor.patterns '%%bash' ${changed_file}
            fi
          done

      - name: Run the converted notebooks
        # Note: the `+` at the end of the `find` invocation will make it fail if any
        # of the execs failed, otherwise `find` returns 0 even when the execs fail.
        run: |
          find ./tutorials -name "*.py" -execdir python {} +;
